<div class="modal-header">
    <h4 class="modal-title pull-left">Adicionar Despesa</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3">
        <label for="descricao">Descrição</label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" name="descricao" id="descricao" [(ngModel)]="novaDespesa.descricao" >
      </div>
      <!-- ======= Separator======= -->
      <div class="col-12" style="border-bottom: 1px solid #ededed; margin-bottom: 10px; margin-top: 10px;"></div>
      <!-- ======= Separator======= -->
      <div class="col-3">
        <label for="valor">Valor (R$):</label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" name="valor" id="valor" [(ngModel)]="novaDespesa.valor" >
      </div>

      <!-- ======= Separator======= -->
      <div class="col-12" style="border-bottom: 1px solid #ededed; margin-bottom: 10px; margin-top: 10px;"></div>
      <!-- ======= Separator======= -->
      <div class="col-12">
        <div class="row">
          <!-- ======== Layout do card ========== -->
          <div class="col-3 card-category" [ngClass]="{'active': categoriaSelecionada.nome == categoria.nome}" *ngFor="let categoria of listCategorias">
            <div class="row">
              <div class="col-12">
                <p align="center">
                  <i class="icon" [class]="categoria.icone"></i>
                </p>
              </div>
              <div class="col-12">
                <p class="name">
                  {{ categoria.nome }}
                </p>
              </div>
              <div class="col-12">
                <div align="center">
                  <button class="btn btn-info" (click)="selecionaCategoria(categoria)">Selecionar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ======== Layout do card ========== -->
  
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">Salvar</button>
  </div>